body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b2f5c;
}

.grid-container {
  display: grid;
  width: 600px;
  gap: 10px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 100px);

  grid-template-areas:
    "left top top top-right"
    "left mid-left mid-right right"
    "left bottom-left bottom-right right";
}

.left { grid-area: left; }
.top { grid-area: top; }
.top-right { grid-area: top-right; }
.mid-left { grid-area: mid-left; }
.mid-right { grid-area: mid-right; }
.bottom-left { grid-area: bottom-left; }
.bottom-right { grid-area: bottom-right; }
.right { grid-area: right; }

.green { background-color: #7ac74f; }
.red { background-color: #e63946; }
.yellow { background-color: #fcbf49; }

.box {
  border-radius: 4px;
}
