.heading {
  border: 2px solid blue;
  color: purple;
  text-align: center;
}

.red {
  border: 2px solid red;
  width: 150px;
  height: 150px;
}

.purple {
  border: 2px double purple;
  width: 200px;
  height: 200px;
}

.blue {
  color: blue;
  text-align: center;
}

.green {
  color: green;
  text-align: center;
}

button {
  padding: 5px 10px;
  margin: 3px;
}

.btn {
  background: teal;
  color: white;
}

#b11, #b12, #b13, #b14, #b15 {
  background: orange;
}
