table {
    width: 400px;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    background-color: #f0f8ff;
}

td:hover {
    background-color: #cce7ff;
    cursor: pointer;
}
